:root {
  --body-bg: #4e4e60;
  --content-bg: #8baad8;
  --box-shadow: rgba(0,0,0,0.3);
  --text-color: #29293f;
  --projects-bg: #f8da59;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: var(--body-bg);
  color: var(--text-color);
  font-family: 'Raleway', sans-serif;
}

body {
  padding: 1.2rem;
}

.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 33rem;
  background-color: var(--content-bg);
  margin-top: 6.5rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.625rem;
  -webkit-box-shadow: 3px 3px 3px 3px var(--box-shadow); 
  box-shadow: 3px 3px 3px 3px var(--box-shadow);
}

header {
  background-image: url(assets/header-js.gif);
  background-size: cover;
  height: 9.6875rem;
  background-position: top;
  border-radius: 0.5rem;
}

header .avatar {
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(-55%);
  border: .625rem solid var(--content-bg);
}

.main-info {
  text-align: center;
}

.main-info h1 {
  font-size: 2rem;
  margin-bottom: -0.9rem;
}

.main-info p {
  font-size: 1.2rem;
  font-style: italic;
}

.social-links {
  display: block;
  margin-top: -0.5rem;
  margin-bottom: 0.8rem;
  font-size: 2rem;
}

.social-links a {
  color: var(--text-color);
  text-decoration: none;
  padding: 0.625rem;
}

.projects {
  padding: 1rem;
  background-color: var(--projects-bg);
  border-radius: 0.5rem;
}

.projects h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0rem;
}

.projects ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.projects li {
  font-size: 1.2rem;
  padding: 0.3rem;
  margin-left: 1rem;
}

.projects a {
  color: var(--text-color);
  text-decoration: none;
  padding: 0.625rem;
}