body {
  background-color: #4e4e60;
  font-family: 'Raleway', sans-serif;
  padding: 1rem;
}

section {
  display: block;
	margin-left: auto;
	margin-right: auto;
  max-width: 500px;
  background-color: #8baad8;
  margin-top: 6.5rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 0px solid black;
  border-radius: 0.625rem;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3); 
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
}

header {
  background-image: url("https://miro.medium.com/max/3200/1*L_QoAG863l8QvqxpNyBiqw.gif");
  background-size: cover;
  height: 155px;
  background-position: top;
  border-radius: 0.5rem;
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(-55%);
  border: 10px solid #8baad8;
}

section h1 {
  color: #29293f;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.links {
  /* margin-bottom: 0.5rem; */
  margin-top: -1.1rem;
  display: block;
  transform: translate(380px, -19px);
}

div {
  padding: 1rem;
  border: 0px solid black;
  background-color: #f8da59;
  border-radius: 1rem;
}

section h2 {
  font-size: 1.375rem;
  text-align: center;
  margin-top: 0rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0.3rem;
  margin-left: 1rem;
}

a {
  color: black;
  text-decoration: none;
  padding: 0.625rem;
}